<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemobi.android.tvthailand"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.codemobi.android.tvthailand.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codemobi.android.tvthailand.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchProgramActivity" />
        </activity>
        <activity
            android:name=".activity.SearchProgramActivity"
            android:label="Search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            ￼
        </activity>
        <activity
            android:name=".activity.ProgramActivity"
            android:label="Program" />
        <activity
            android:name=".activity.EpisodeActivity"
            android:label="Detail" />
        <activity
            android:name=".activity.MoreDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Full Detail"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.RatingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.PartActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Parts" />
        <activity
            android:name=".activity.LargeThumbnailActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".player.VideoPlayerActivity"
            android:label="TV Thailand Player"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.RadioPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="TV Thailand Player"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.ProgramLoaderActivity"
            android:label="My Favorites" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="About" />
        <activity
            android:name=".player.VastPlayerActivity"
            android:label="VAST Player"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".player.VastContentPlayerActivity"
            android:label="VAST Player"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".player.VitamioVastPlayerActivity"
            android:label="VAST Player"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".player.YoutubePlayerViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />

        <!-- TV Thailand Account -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".account.AccountActivity"
            android:screenOrientation="portrait" />

        <!-- OTV -->
        <activity
            android:name=".otv.activity.OTVPartActivity"
            android:label="OTV Part" />

        <provider
            android:name="com.codemobi.android.tvthailand.contentprovider.ProgramSuggestionProvider"
            android:authorities="com.codemobi.android.tvthailand.contentprovider.ProgramSuggestionProvider"
            android:exported="false" />
        <provider
            android:name="com.codemobi.android.tvthailand.contentprovider.ProgramContentProvider"
            android:authorities="com.codemobi.android.tvthailand.contentprovider.ProgramContentProvider"
            android:exported="false" />
        <provider
            android:name="com.codemobi.android.tvthailand.contentprovider.WhatsNewContentProvider"
            android:authorities="com.codemobi.android.tvthailand.contentprovider.WhatsNewContentProvider"
            android:exported="false" />
        <provider
            android:name="com.codemobi.android.tvthailand.contentprovider.MyProgramContentProvider"
            android:authorities="com.codemobi.android.tvthailand.contentprovider.MyProgramContentProvider"
            android:exported="false" />
        <provider
            android:name="com.codemobi.android.tvthailand.contentprovider.EpisodeContentProvider"
            android:authorities="com.codemobi.android.tvthailand.contentprovider.EpisodeContentProvider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.facebook.ads.VideoAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3120d8f68ae38afbc965e336f679243187ec8cd9" />

        <activity
            android:name=".activity.WebFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>